.delete-btn{
  display: none;
  position: absolute;
  line-height: 0px;
  border: none;
  background-color: orange;
  color: white;
  width: 20px;
  height: 20px;
  top: 10px;
  left: -21px;
}
.transaction-list:hover .delete-btn{
  display: block;

}
.main-div{
  max-height: calc(100vh - 20px);
}
